
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="3u">

				<ul class="side-nav" id="solutions-nav">
					<li>
						<a href="#apple-pay">
							Apple Pay
						</a>
					</li>
				</ul>
			</div>
			<div class="9u">
				<div id="apple-pay"></div>
				<%- partial("_shared/partials/solutions/apple-pay") %>
				<%- partial("_shared/partials/solutions/perka") %>
				<%- partial("_shared/partials/solutions/analytics") %>
				<%- partial("_shared/partials/solutions/clover") %>
				<%- partial("_shared/partials/solutions/pci") %>
				<%- partial("_shared/partials/solutions/ach") %>
				<%- partial("_shared/partials/solutions/ebt") %>
				<%- partial("_shared/partials/solutions/gift-cards") %>
				<%- partial("_shared/partials/solutions/emv") %>
				<%- partial("_shared/partials/solutions/pos") %>
				<%- partial("_shared/partials/solutions/terminals") %>
				<%- partial("_shared/partials/solutions/wireless") %>
			</div>
		</div>


	</div>
</div>

